@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
}
header{
    text-align: center;
    margin: 50px 0;
}
header p{
    max-width: 600px;
    margin: 0 auto;
    
    color: var(--Grayish-Blue);
    font-size: .9rem;
}
header h3{
    font-weight: 200;
    font-size: 2rem;
    color: var(--Grayish-Blue);
}
header h1{
    color: rgba(0, 0, 0, 0.726);
    padding-bottom: 10px;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}
.box{
    box-shadow: 0 10px 20px rgba(0,0,0,0.05),
     0 6px 6px rgba(0,0,0,0.1);
     padding: 20px;
     border-radius: 7px;
    text-align: right;
}
.box-text{
    text-align: left;
    margin-top: 10px;
}
.box img{
    margin: 50px 10px 5px 0;
}

.box-1{
    border-top: 4px solid var(--Cyan);
}

.box-2{
    border-top: 4px solid var(--Red);
}

.box-3{
    border-top: 4px solid var(--Orange);
}

.box-4{
    border-top: 4px solid var(--Blue);
}
.box-text h2{
    color: var(--Very-Dark-Blue);
    font-size: 1.2rem;
}
.box-text p{
    color: var(--Grayish-Blue);
    font-size: 0.9rem;
    margin-top: 15px;
}
.box-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.box-1, .box-4{
    align-self: center;
}
@media (max-width:768px) {
    .main{
        grid-template-columns: 1fr;
    }
}
@media (max-width:425px) {
   body{
       font-size: 13px;

   }
   header h3{
       font-size: 22px;
   }
   header h1{
       font-size: 22px;
   }
   header p{
       font-size: 13px;
   }
   .box{
       padding: 20px;
   }
}

